<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <%- include('./partials/navbar.ejs'); %>
    <div class="container"><h1>
          <% if(todos.length){ %>
            <ul>
                <% for(let i of todos ){ %>
       
                <li class = 'todo'>
                    

                    <form action="/change" method="POST">
                    <div class="row">
                    <label>
                        
                        <%if(i.state == 'completed' ){%>

                            <span class = 'completed col s2' ><h5><%= i.title %></h5></span>
                            <span class = "col s12"><%= i.description %></span>   
                            <span class = "col s1 green-text"><h6><%= i.state %></h6></span> 
                            <input type = "hidden" value= <%=i.id%> name = 'id'> 
                            <button class = "btn btn-small disabled col s1" type="submit">completed</button>

                          <%}else if(i.state == 'pending'){%>

                            <span class = 'col s2' ><h5><%= i.title %></h5></span>
                            <span class = "col s12"><%= i.description %></span>   
                            <span class = "col s1 orange-text"><h6><%= i.state %></h6></span> 
                            <input type="hidden" value= <%=i.id%> name = 'id'> 
                            <button class="btn btn-small">Resolve</button>
                            
                          <% }else{ %>
    
                            <span class = 'col s2' ><h5><%= i.title %></h5></span>
                            <span class = "col s12"><%= i.description %></span>     
                            <span class = "col s1 blue-text"><h6><%= i.state %></h6></span> 
                            <input type="hidden" value= <%=i.id%> name = 'id'> 
                            <button class="btn btn-small">Start</button>%>

                          <% } %>
                       
                         </label>
                    </div>
                </form>
              
                </li>
                <% } %>
            </ul>
          <% } else{ %>  
            
              No issues

          <% } %>
    
    </h1></div>
    
</body>
</html>